@model IEnumerable<RestaurantPaymentSystem.Models.TableViewModel>

@{
    ViewBag.Title = "AllTables";
}

<h2>AllTables</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <div>@item.ID</div>
            
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
