@model IEnumerable<RestaurantPaymentSystem.Models.Category>


<br />
<br />
<h2>All Subcategories</h2>

<p>
    Category
    @Html.DropDownList(
        "CategoryDropDown",
        new SelectList(
            Model.Select(x => new {Value = x.Id, Text = x.CategoryName}),
            "Value",
            "Text"
            )
        )
</p>

<div id="subcategories"></div>

@*<table class="table" id="CategoryTable">
    <tbody>

    </tbody>
</table>*@

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        CategoryChange();
    });

    $('#CategoryDropDown').change(CategoryChange);

    function CategoryChange() {
        
        var selectedCategory = $('#CategoryDropDown').val();
        //alert($(this).val());
        //var model = @Html.Raw(Json.Encode(Model));

        $.ajax({
            url: 'GetAllSubcategoriesForCategory?categoryId=' + selectedCategory,
            dataType: 'html',
            success: function(data) {
                $('#subcategories').html(data);
            }
        });

        //var result = model.filter(function (category) {
        //    return category.CategoryName === selectedCategory;
        //})[0];

        //var table = document.getElementById("CategoryTable");
        //var tableBody = document.createElement('TBODY');

        //for (var i = 0; i < result.Subcategories.length; i++) {
        //    var tr = document.createElement('TR');
        //    var subcategoryNameTd = document.createElement('TD');
        //    subcategoryNameTd.appendChild(document.createTextNode(result.Subcategories[i].SubcategoryName));
        //    tr.appendChild(subcategoryNameTd);

        //    var links = document.createElement('TD');
        //    tr.appendChild(links);

        //    var editTd = document.createElement('TD');
        //    var editLink = document.createElement("a");
        //    editLink.innerText = "Edit";
        //    editLink.href = "/RestaurantPaymentSystem/Subcategory/Edit/" + result.Subcategories[i].SubcategoryName;
        //    editTd.appendChild(editLink);
        //    links.appendChild(editTd);

        //    var spaceTd1 = document.createElement('TD');
        //    spaceTd1.innerText = ' | ';
        //    links.appendChild(spaceTd1);

        //    var detailsTd = document.createElement('TD');
        //    var detailsLink = document.createElement("a");
        //    detailsLink.innerText = "Details";
        //    detailsLink.href = "/RestaurantPaymentSystem/Subcategory/Details/" + result.Subcategories[i].SubcategoryName;
        //    detailsTd.appendChild(detailsLink);
        //    links.appendChild(detailsTd);

        //    var spaceTd2 = document.createElement('TD');
        //    spaceTd2.innerText = ' | ';
        //    links.appendChild(spaceTd2);

        //    var deleteTd = document.createElement('TD');
        //    var deleteLink = document.createElement("a");
        //    deleteLink.innerText = "Delete";
        //    deleteLink.href = "/RestaurantPaymentSystem/Subcategory/Delete/" + result.Subcategories[i].SubcategoryName;
        //    deleteTd.appendChild(deleteLink);
        //    links.appendChild(deleteTd);

        //    tableBody.appendChild(tr);
        //}

        //var oldTableBody = $("#CategoryTable tbody")[0];
        //table.replaceChild(tableBody, oldTableBody);
    }
</script>
